.categories .col-3 .card{
    background-color: white;
    border: 2px solid rgba(30, 143, 255, 0.192);
    transition: all 0.2s ease-in-out;
}
.categories .col-3 .card:hover{
    transform: scale(1.1);
}
.welcome-screen{
    background: #072ce226;
    border-radius: 20px;
    margin-top: 20vh;
}
.categories{
}
.card img{
    max-width: 100%;
}
.col-lg-6 .card{
    height: 340px;
    margin-bottom: 30px;
}
.card h4{
    color:dodgerblue;
    font-weight: bold;
}
.card h3{
    color:dodgerblue;
    font-weight: bold;
}
.card p.info{
    font-weight: 600;
    color: red;
}